div.container.register {
    padding: 4rem 2rem;
}

div.footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

div.hidden {
    display: none;
}

div.error {
   color: red;
}

nav.blue {
    background-color: #115292 !important;
}

a.nav-link {
    color: #fff !important;
}

.navbar-light .navbar-text a{
    color: #fff;
}

html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

div.bluebg {
    height: 100%;
    background: url('../img/background-blue.png') no-repeat;
    background-size: cover;
}

a.navbar-brand {
    color: #fff !important;
}

div.jumbotron {
    background: none;
}