<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title='Microservices w pigułce - Strona główna')"></head>
    <body>

        <nav th:replace="fragments/header :: navbar"></nav>

        <div class="bluebg">
            <div class="container container-fluid">
                <div class="jumbotron">
                    <h1 class="display-4">Microservices w pigułce</h1>
                    <p class="lead">Mix podstawowej wiedzy teoretycznej i prostych zadań praktycznych mających na celu łatwe, szybkie i przyjemne wdrożenie w architekturę microservices w oparciu o technologie i język programowania Java.</p>
                    <hr class="my-4" />
                    <p>Zarejestruj się, aby uzyskać dostęp do materiałów i zadań</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" th:href="@{/register}" role="button">Zarejestruj się</a>
                    </p>
                </div>
            </div>

            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </body>
</html>